.app {
  /* stylling container */
  width: 100%;
  display: flex;
  /* cosmetics */
  border: 1px solid white;
  /* font */
  font-weight: 100;
  /* Colors */
  color: white;
}

.right {
  flex: 1;
}

.rightUp {
  border-bottom: 3px double white;
}

.left {
  border-right: 3px solid white;
  height: 97.5vh;
}
